{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}


<div class="finishOuter">
    <div class="innerDiv">
        {% if photo.type == 0 %}
		<div class="pageOuter pageOuter1">
			<div class="finishA">
				<div class="h1008">
					<div class="innerDiv">
						<img src="{{ asset('bundles/app/default/') }}images/{{ photo.imgUrl }}" class="resImg">
						<a href="{{ url('_index') }}" class="abs page3Btn1"><img src="{{ asset('bundles/app/default/') }}images/page3Btn1.png"></a>
						<a href="javascript:void(0);" class="abs page3Btn2" onClick="showShareNote2();"><img src="{{ asset('bundles/app/default/') }}images/page3Btn2.png"></a>
					</div>
				</div>
			</div>
		</div>
        {% else %}
        <div class="finishB" style="display:none;">
            <div class="h1008">
                <div class="innerDiv">
                    <div class="page7Img1 abs imgDiv" style="display:none;"></div>
                    <div class="page7Img2 abs imgDiv" style="display:none;"></div>
                    <img src="{{ asset('uploads/') }}{{ photo.imgUrl }}" class="resImg2">
                    <div class="finishWish">
                        <table>
                            <tr>
                                <td rowspan="2"><img src="{{ asset('bundles/app/default/') }}images/space.gif" width="1" height="60"></td>
                                <td><img src="{{ asset('bundles/app/default/') }}images/space.gif" width="149" height="1"></td>
                            </tr>
                            <tr>
                                
                                <td valign="middle" class="finishWishTd">{{ photo.title }}</td>
                            </tr>
                        </table>
                    </div>
                    <a href="{{ url('_index') }}" class="abs page7Btn1"><img src="{{ asset('bundles/app/default/') }}images/page3Btn1.png"></a>
                    <a href="javascript:void(0);" class="abs page7Btn2" onClick="showShareNote2();"><img src="{{ asset('bundles/app/default/') }}images/page3Btn2.png"></a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!--
<div class="shareBg" onClick="closeShare();" style="display:none;"></div>
<img src="{{ asset('bundles/app/default/') }}images/shareNote.png" class="shareNote" onClick="closeShare();" style="display:none;">
-->
<div class="myEndPage" style="display:none;">
	<div class="innerDiv">
		<div class="pageOuter pageOuter2">
			<div class="h1008">
				<div class="innerDiv">
					<div class="abs imgDiv myTop">
						<img src="{{ asset('bundles/app/default/') }}images/downArrow.png" class="abs downArrow">
						<img src="{{ asset('bundles/app/default/') }}images/endImg3.png" style="display:block;">
					</div>
				</div>
			</div>
		</div>
		
		<div class="myBottom">
		  <div class="innerDiv">
				<img src="{{ photo.user.headImg }}" class="abs face">
				<p class="myName">
					{{ photo.user.nickname }}
				</p>
				<p class="myNote">
					<span>您共造了<font>{{ rank }}</font>份祝福</span><br>
				</p>
				<a href="index.html" class="abs endImgBtn1"><img src="{{ asset('bundles/app/default/') }}images/endImgBtn1.png"></a>
				<p class="myNumb">
					造福指数：<font class="mNumb">{{ photo.user.favourNum }}</font>个<br>
					造福排名：<font class="mRank">{{ favourRank }}</font>位
				</p>
				<div class="eList">
					{% for user in users %}
					<div class="eInit">
						<img src="{{ user.headImg }}" class="eFace">
						<p class="eName">{{ user.nickname }}</p>
						<p class="eTime">{{ user.createTime | date('n.j H:i') }}</p>
						<p class="eTxt"><font>{{ user.favourNum }}</font>个 {% if loop.index == 1 %}飞欧洲飞你莫属{% elseif loop.index == 2 %}往前一步换你飞{% elseif loop.index == 3 %}加油加油看好你哟{% endif %}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		
		<div class="abs endShare3"></div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{% if photo.type == 1 %}
<script>
window.onload=winOnload;
function winOnload(){
    $('.finishB').fadeIn(500);
    setTimeout(function(){
        $('.page7Img1').addClass('titleShow').show();
        setTimeout(function(){
            $('.page7Img2').fadeIn(500);
            },500);
        },600);
    }
</script>
{% endif %}
{% endblock %}