<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}表单测试{% endblock %}</title>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  var wxData = {
            appId: '{{ app.session.get("wx_app_id") }}',
            timestamp: '{{ app.session.get("wx_timestamp") }}',
            nonceStr: '{{ app.session.get("wx_nonce_str") }}',
            signature: '{{ app.session.get("wx_signature") }}',
            title: '{{ app.session.get("wechat_title") }}',
            desc: '{{ app.session.get("wechat_desc") }}',
            shareUrl: '{{ app.session.get("wx_share_url") }}',
            imgUrl: '{{ app.session.get("wechat_img_url") }}',
  };
  function wxShare(data){
    wx.config({
      debug: false,
      appId: data.appId,
      timestamp: data.timestamp,
      nonceStr: data.nonceStr,
      signature: data.signature,
      jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'previewImage',
      'chooseImage',
      'uploadImage',
      'downloadImage'
      ]
    });
    wx.ready(function () {
      wx.onMenuShareAppMessage({
        title: data.title,
        desc: data.desc,
        link: data.shareUrl,
        imgUrl: data.imgUrl,
        trigger: function (res) {
        },
        success: function (res) {
        },
        cancel: function (res) {
        },
        fail: function (res) {
        }
      });
      wx.onMenuShareTimeline({
        title: data.desc,
        desc: data.desc,
        link: data.shareUrl,
        imgUrl: data.imgUrl,
        trigger: function (res) {
        },
        success: function (res) {
        },
        cancel: function (res) {
        },
        fail: function (res) {
        }
      });
    });
  }
  wxShare(wxData)
</script>
</head>
<body>
  {% block body %}{% endblock %}
	{% block javascripts %}
	{% endblock %}
</body>
</html>
