{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="pageOuter">
		<div class="innerDiv">
			
			<div class="page page0">
				<div class="h1008">
					<div class="innerDiv">
						<div class="loadingBg"></div>
						<div class="loadingProgress" style="height:0;"></div>
						<div class="abs bgImg loading"></div>
					</div>
				</div>
			</div>
			
			<div class="page page1" style="display:none;">
				<div class="h1008">
					<div class="innerDiv">
						<div class="page1Img1 abs bgImg"></div>
						<div class="page1Img5 abs bgImg"></div>
						<div class="abs page1Img2 page1Img2Act"></div>
						<div class="abs page1Img6"></div>
						<div class="pNumb abs"><a href="http://www.slek.com.cn"><img src="{{ asset('bundles/app/default/') }}images/page1Img3.png"><font>{{ count }}</font><img src="{{ asset('bundles/app/default/') }}images/page1Img4.png"></a></div>
						<a href="javascript:void(0);" onClick="goPage2();" class="abs page1Btn1"><img src="{{ asset('bundles/app/default/') }}images/page1Btn1.png"></a>
						<div class="abs page1Img7"></div>
					</div>
				</div>
			</div>
			<form action="/form" enctype="multipart/form-data" method="post" id="form">
				<div class="page page2" style="display:none;">
					<div class="h1008">
						<div class="innerDiv">
							<div class="page2Img1 abs bgImg"></div>
							<ul class="abs page2Q">
								<li>
									<a href="javascript:void(0);" onClick="choseQ(this);" style="color:#cb152b;">想亲眼看看郭碧婷美丽的黑长直</a>
								</li>
								<li>
									<a href="javascript:void(0);" onClick="choseQ(this);">逃离PM2.5，和头发一起吹吹自然风</a>
								</li>
								<li style="padding-bottom:0;">
									<a href="javascript:void(0);" onClick="choseQ(this);">头发一天天长长，就像一个孩子的成长，想记录美丽秀发的每一个瞬间</a>
								</li>
							</ul>
							<textarea class="wish">每一个空着的心愿瓶，都在等你。快来为你的秀发定制一个独家心愿，用你的创意让心愿被看见。</textarea>
							<input name="wishText" value="" type="hidden" id="wishText">
							<img src="{{ asset('bundles/app/default/') }}images/page2Img2.png" class="abs page2Img2">
							<a href="javascript:void(0);" onClick="goPage3();" class="abs page2Btn1"><img src="{{ asset('bundles/app/default/') }}images/page2Btn1.png"></a>
						</div>
					</div>
				</div>
				
				<div class="page page3" style="display:none;">
					<div class="h1008">
						<div class="innerDiv">
							<div class="page3Img1 abs bgImg"></div>
							<img src="{{ asset('bundles/app/default/') }}images/page3Img2.png" class="abs page3Img2">
							<div class="page3Con">
								<div class="page3Img3 abs bgImg"></div>
									<div class="photoOuter">
										<div class="innerDiv">
											<img src="" class="abs upBtnImg upLoadImg" style="display:none;" id="upBtnImg">
											<img src="" class="abs upLoadImg" style="display:none;" id="preview" />
											<img src="" class="abs upLoadImg" style="display:none;" id="localImag" />
										</div>
									</div>
								
								<input type="file" name="headImg" id="headImg" class="fileBtn" style="display:none;" onChange="setImagePreview();" />
								<a href="javascript:void(0);" class="wechatPhoto" style="display:none;"><img src="{{ asset('bundles/app/default/') }}images/uploadBtn.png"></a>
								
								<input type="text" maxlength="20" class="iTxt iTxt1" name="username" id="username">
								<input type="tel" maxlength="11" class="iTxt iTxt2" name="mobile" id="mobile">
								<input type="hidden" value="" name="url" id="url">
								<input type="hidden" value="" name="failUrl" id="failUrl">
								<input type="hidden" value="" name="imageId" id="imageId">
								<input type="hidden" value="0" name="isWechat" id="isWechat">
								<input type="hidden" value="" name="token" id="token">

								<a href="javascript:void(0);"  class="abs page2Btn1" onClick="go4();" id="form-submit"><img src="{{ asset('bundles/app/default/') }}images/page3Btn1.png"></a>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>

	
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
			loadingImg();
			$('.wish').on('click',function(){
				if($(this).html()=="每一个空着的心愿瓶，都在等你。快来为你的秀发定制一个独家心愿，用你的创意让心愿被看见。"){
					$(this).html('');
					$(this).val('');
					}
				$('.page2Q li').removeClass('on');
				$('#wishText').val($('.wish').text());
			});
			$('.wish').on('change',function(){
				$('.page2Q li').removeClass('on');
				$('#wishText').val($('.wish').val());
			});
			$('.wish').blur(function(){
				if($(this).val()==""){
					$(this).text('每一个空着的心愿瓶，都在等你。快来为你的秀发定制一个独家心愿，用你的创意让心愿被看见。');
					}
			});
		});
		
	function submitInfo(){
				var headImg = $('#headImg').val();
				var username = $('#username').val();
				var mobile = $('#mobile').val();
				$('#url').val('{{ url("_success") }}');
				$('#failUrl').val('{{ url("_error") }}');
				var pattern = /^1\d{10}$/;

				if(username == ''){
					alert('请输入姓名~');
					return false;
				}
				else if( mobile == ''){
					alert('请输入手机号~');
					return false;
				}
				else if(!pattern.test(mobile)){
					alert('请输入正确的手机号~');
					return false;
				}
				else{
					if(!isWechat){
						$('#isWechat').val(0);
						if( headImg == ''){
							alert('请上传头像~');
							return false;
						}
					}
					else{
						$('#isWechat').val(1);
						if($('#imageId').val()== ''){
							alert('请上传头像~');
							return false;
						}
						//微信端提交表单判断头像   imgId
					}
					$('.page3Con').fadeOut(500);
					setTimeout(function(){
						$('.page3Img1').css('background-position','-640px 0');
						setTimeout(function(){
							$('.page3Img1').css('background-position','-1280px 0');
							setTimeout(function(){
								$('body').css('background','#dd1039');
								$('.page3').hide();
								$('.page0').show();
								$('.topBar').hide();
								
								$('#form').submit();
								
				
							},200);
						},200);
					},200);
				}
			}
	</script>
{% endblock %}