{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="pageOuter">
		<div class="innerDiv">
			
			<div class="page page0">
				<div class="h1008">
					<div class="innerDiv">
						<div class="loadingBg"></div>
						<div class="loadingProgress" style="height:0;"></div>
						<div class="abs bgImg loading"></div>
					</div>
				</div>
			</div>
			
			<div class="page page1" style="display:none;">
				<div class="h1008">
					<div class="innerDiv">
						<div class="page1Img1 abs bgImg"></div>
						<div class="page1Img5 abs bgImg" onClick="goPage2();ga('send', 'event', 'button','click','gamestart');_mz_evt('1001228', '100031408');"></div>
						<div class="abs page1Img2 page1Img2Act" onClick="goPage2();ga('send', 'event', 'button','click','gamestart');_mz_evt('1001228', '100031408');"></div>
						<div class="abs page1Img6" onClick="goPage2();ga('send', 'event', 'button','click','gamestart');_mz_evt('1001228', '100031408');"></div>
						<div class="pNumb abs"><a onClick="_mz_evt('1001228', '100031409');ga('send', 'event', 'button','click','status',{'hitCallback':function(){window.location.href='http://www.slek.com.cn/makewish#default-btns';}});"><img src="{{ asset('bundles/app/default/') }}images/page1Img3.png"><font>{{ count }}</font><img src="{{ asset('bundles/app/default/') }}images/page1Img4.png"></a></div>
						<a href="javascript:void(0);" onClick="goPage2();ga('send', 'event', 'button','click','gamestart');_mz_evt('1001228', '100031408');" class="abs page1Btn1"><img src="{{ asset('bundles/app/default/') }}images/page1Btn1.png"></a>
						<a href="javascript:void(0);" onClick="goPage2();ga('send', 'event', 'button','click','gamestart');_mz_evt('1001228', '100031408');" class="abs page1Btn1 page1Btn1b"><img src="{{ asset('bundles/app/default/') }}images/page1Btn1b.png"></a>
						<!--<div class="abs page1Img7"></div>-->
					</div>
				</div>
			</div>
			<form action="http://dev.slek.com.cn/form" enctype="multipart/form-data" method="post" id="form">
				<div class="page page2" style="display:none;">
					<div class="h1008">
						<div class="innerDiv">
							<div class="page2Img1 abs bgImg"></div>
							<ul class="abs page2Q">
								<li>
									<a href="javascript:void(0);" onClick="choseQ(this);ga('send', 'event', 'button','click','wishchoice');" class="firstWish">想亲眼看看郭碧婷美丽的黑长直</a>
								</li>
								<li>
									<a href="javascript:void(0);" onClick="choseQ(this);ga('send', 'event', 'button','click','wishwrite');">定制一个美丽心愿</a>
								</li>
							</ul>
							<div class="page2Note"></div>
							<a href="javascript:void(0);" onClick="changeFirstWish();ga('send', 'event', 'button','click','refresh');" class="abs page2Btn2"><img src="{{ asset('bundles/app/default/') }}images/page2Btn2.png"></a>
							<textarea id='wish' class="wish"></textarea>
							<input name="wishText" value="" type="hidden" id="wishText">
							<!--<img src="{{ asset('bundles/app/default/') }}images/page2Img2.png" class="abs page2Img2">-->
							<a href="javascript:void(0);" onClick="goPage3();ga('send', 'event', 'button','click','submit_wish_step1');" class="abs page2Btn1"><img src="{{ asset('bundles/app/default/') }}images/page2Btn1.png"></a>
						</div>
					</div>
				</div>
				
				<div class="page page3" style="display:none;">
					<div class="h1008">
						<div class="innerDiv">
							<div class="page3Img1 abs bgImg"></div>
							<img src="{{ asset('bundles/app/default/') }}images/page3Img2.png" class="abs page3Img2">
							<div class="page3Con">
								<div class="page3Img3 abs bgImg"></div>
									<div class="photoOuter">
										<div class="innerDiv">
											<img src="" class="abs upBtnImg upLoadImg" style="display:none;" id="upBtnImg">
											<img src="" class="abs upLoadImg" style="display:none;" id="preview" />
											<img src="" class="abs upLoadImg" style="display:none;" id="localImag" />
										</div>
									</div>
									
								<div class="page2Note"></div>
								
								<input type="file" name="headImg" onClick="ga('send', 'event', 'button','click','input_photo');" id="headImg" class="fileBtn" style="display:none;" onChange="setImagePreview();" />
								<a href="javascript:void(0);" onClick="ga('send', 'event', 'button','click','input_photo');" class="wechatPhoto" style="display:none;"><img src="{{ asset('bundles/app/default/') }}images/uploadBtn.png"></a>
								
								<input type="text" maxlength="20" class="iTxt iTxt1" name="username" id="username" onClick="ga('send', 'event', 'button','click','input_name');">
								<input type="tel" maxlength="11" class="iTxt iTxt2" name="mobile" id="mobile" onClick="ga('send', 'event', 'button','click','input_phone');">
								<input type="hidden" value="" name="url" id="url">
								<input type="hidden" value="" name="failUrl" id="failUrl">
								<input type="hidden" value="" name="imageId" id="imageId">
								<input type="hidden" value="0" name="isWechat" id="isWechat">
								<input type="hidden" value="" name="token" id="token">

								<a href="javascript:void(0);"  class="abs page2Btn1" onClick="go4();ga('send', 'event', 'button','click','submit_wish_final');" id="form-submit"><img src="{{ asset('bundles/app/default/') }}images/page3Btn1.png"></a>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>

	
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
			loadingImg();
			$('.wish').on('click',function(){
				if($(this).html()==wish2[ranNumb2]){
					$(this).html('');
					$(this).val('');
					}
				$('.page2Q li').removeClass('on');
				$('.page2Q li').eq(1).addClass('on');
				$('#wishText').val($('.wish').text());
			});
			$('.wish').on('change',function(){
				$('.page2Q li').removeClass('on');
				$('.page2Q li').eq(1).addClass('on');
				$('#wishText').val($('.wish').val());
			});
			/*$('.wish').blur(function(){
				if($(this).val()==""){
					document.getElementById('wish').innerText=wish2[ranNumb2];
					}
			});*/
		});
		
	function submitInfo(){
				var headImg = $('#headImg').val();
				var username = $('#username').val();
				var mobile = $('#mobile').val();
				$('#url').val('{{ url("_success") }}');
				$('#failUrl').val('{{ url("_error") }}');
				var pattern = /^1\d{10}$/;

				if(username == ''){
					alert('请输入姓名~');
					return false;
				}
				else if( mobile == ''){
					alert('请输入手机号~');
					return false;
				}
				else if(!pattern.test(mobile)){
					alert('请输入正确的手机号~');
					return false;
				}
				else{
					if(!isWechat){
						$('#isWechat').val(0);
						/*if( headImg == ''){
							alert('请上传头像~');
							return false;
						}*/
					}
					else{
						$('#isWechat').val(1);
						/*if($('#imageId').val()== ''){
							alert('请上传头像~');
							return false;
						}*/
						//微信端提交表单判断头像   imgId
					}
					$('.page3Con').fadeOut(500);
					setTimeout(function(){
						$('.page3Img1').css('background-position','-640px 0');
						setTimeout(function(){
							$('.page3Img1').css('background-position','-1280px 0');
							setTimeout(function(){
								$('body').css('background','#dd1039');
								$('.page3').hide();
								$('.page0').show();
								$('.topBar').hide();
								
								$('#form').submit();
								
				
							},200);
						},200);
					},200);
				}
			}
	</script>
{% endblock %}