{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="pageOuter">
	<div class="innerDiv">
    	
    	<div class="page page0">
        	<div class="h1008">
            	<div class="innerDiv">
					<div class="loadingBg"></div>
                	<div class="loadingProgress" style="height:0;"></div>
                	<div class="abs bgImg loading"></div>
                </div>
            </div>
        </div>
        
        <div class="page page6" style="display:none;">
        	<div class="h1008">
           	  <div class="innerDiv">
              	<div class="abs bgImg page6Img1"></div>
              	<img src="{{ (asset('uploads/')~info.headImg) }}" class="face">
				<!--<img src="{{ asset('bundles/app/default/') }}images/page6Img3.png" class="face3">-->
                <p class="sTitle"><span>{{ info.username }}</span><br><img src="{{ asset('bundles/app/default/') }}images/page6Img2.png"></p>
                <div class="sName"><span>{{ info.username }}</span></div>
				<div class="sVote"><span class="likeNum">{{ info.likeNum }}</span>个赞！</div>
                <!--<div class="sVote"><img src="{{ asset('bundles/app/default/') }}images/page6Icon1.png"><span class="likeNum">{{ info.likeNum }}</span>赞</div>-->
                <div class="sWish">{{ info.wishText }}</div>
                <a href="http://www.slek.com.cn/makewish#default-btns" onClick="var tLink=$(this).attr('href');ga('send', 'event', 'button','click','Wish realized article',{'hitCallback':function(){window.location.href=tLink;}});return false;" class="abs page6Btn1"><img src="{{ asset('bundles/app/default/') }}images/page6Btn1.png"></a><!--{{ url('_top') }}-->
                <a href="javascript:void(0);" onClick="ga('send', 'event', 'button','click','Click a like');" class="abs page6Btn2"><img src="{{ asset('bundles/app/default/') }}images/zanNewBtn.png"></a>
                <a href="{{ url('_index') }}" onClick="var tLink=$(this).attr('href');ga('send', 'event', 'button','click','Make a wish',{'hitCallback':function(){window.location.href=tLink;}});return false;" class="abs page6Btn3"><img src="{{ asset('bundles/app/default/') }}images/page6Btn3.png"></a>
              </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function(){
			ga('send', 'pageview', '/page_mywish');

			loadingShare();
			//var  url = '{{ url("api_like",{id:info.id}) }}';
			var url = 'http://dev.slek.com.cn/like/'+'{{ info.id }}';
			$('.page6Btn2').click(function(){
				$.getJSON(url,function(json){
					if(json.ret == 0){
                        $('.likeNum').text(json.num);
					}
					else{
						$('.likeNum').text(json.num);
						//alert(json.msg);
					}
				})
			})
		});
	</script>
{% endblock %}