{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
<div class="pageOuter">
	<div class="innerDiv">
    	
    	<div class="page page0">
        	<div class="h1008">
            	<div class="innerDiv">
					<div class="loadingBg"></div>
                	<div class="loadingProgress" style="height:0;"></div>
                	<div class="abs bgImg loading"></div>
                </div>
            </div>
        </div>
        
        <div class="page page7" style="display:none;">
        	<div class="h1008">
           	  <div class="innerDiv">
              	<div class="swiper-container2 abs topSc">
                    <div class="swiper-wrapper">
                    	{% for info in list %}
                    		<div class="swiper-slide topBlock">
                        	<div class="innerDiv">
                            	<div class="tNumb">TOP{{ loop.index }}</div>
                            	<img src="{{ (asset('uploads/')~info.headImg) | imagine_filter('thumb1') }}" class="face2 abs">
                                <div class="tName"><span>{{ info.username }}</span></div>
                                <div class="tVote"><img src="{{ asset('bundles/app/default/') }}images/topIcon1.png">{{ info.likeNum }}赞</div>
                                <div class="tWish">{{ info.wishText }}</div>
                                <div class="tTitle">
                                	<font>Ta的美丽心愿：</font><br>
                                    带头发吹吹风，<br>
                                    远离雾霾和PM2.5的自然风
                                	<!--{{ info.wishText }}-->
                                </div>
                                <div class="tPhoto">
                                	<div class="swiper-container3 abs topPl">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide topPhoto"><img src="{{ asset('bundles/app/default/') }}images/photo.png"></div>
                                            <div class="swiper-slide topPhoto"><img src="{{ asset('bundles/app/default/') }}images/photo.png"></div>
                                            <div class="swiper-slide topPhoto"><img src="{{ asset('bundles/app/default/') }}images/photo.png"></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="abs tBtn1" id="tBtn1"><img src="{{ asset('bundles/app/default/') }}images/tBtn1.png"></a>
                                <a href="javascript:void(0);" class="abs tBtn2" id="tBtn2"><img src="{{ asset('bundles/app/default/') }}images/tBtn2.png"></a>
                            </div>
                        </div>
                    	{% endfor %}
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function(){
			loadingTop();
		});
	</script>
{% endblock %}